@media (min-width: $grid-float-breakpoint) {
  .navbar-default {

    .navbar-nav {
      > li > a:before {
        content: ' / ';
        color: $brand-danger;
        display: inline-block;
        margin-left: -12px;
        margin-right: 9px;
      }
      > li:first-child > a:before, li:nth-child(2) > a:before {
        content: '';
      }
      > li > a {
        padding: 20px 10px;
        font-weight: 700;
        letter-spacing: -1.5px;
        text-transform: uppercase;
        font-size: 11px;
      }
      > li:first-child > a {
        padding: 17px 10px;
      }
    }

    .navbar-header {
      position: relative;
      margin-left: -15px;
      margin-right: 30px;
      height: 60px;
      background: $brand-primary;
    }

    .navbar-header :after {
      content: "";
      width: 0px;
      height: 0px;
      border-top: 60px solid $brand-primary;
      border-right: 34px solid transparent;
      position: absolute;
      right: -34px;
      top: 0px;
    }
  }

  .intro-header {
    margin-top: -9px;
    background: center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
    border-bottom: 3px solid $brand-danger;

    .site-heading {
      padding: 245px 0 50px;

    }
  }
}

.top-info {
  color: #fff;
  margin-left: 20px;
}

@media (max-width: $grid-float-breakpoint-max) {
  .navbar-header {
    background: $brand-primary;
    .navbar-toggle {
      color: #FFFFFF;
    }
  }

  .site-heading {
    margin-top: 100px;
  }

}

.navbar-brand {
  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      text-transform: uppercase;
      font-size: 28px;
      padding: 22px 50px;
    }
  }
}

.full-width-input {
  width: 100% !important;
}

footer {
  padding: 50px 0 65px;
}

.fa {
  color: $brand-danger;
}

h4.arrow-start:before {
  content: '>';
  color: $brand-danger;
  font-size: 20px;
  margin-right: 10px;
}

.btn-new {
  border: none;
  background: $brand-primary;
  padding: 7px 20px;
  margin: 20px 0;
  border-left: 7px solid $brand-danger;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -khtml-border-radius: 2px;
  text-transform: uppercase;
  font-size: 18px;
}

.btn-new:after {
  content: '>';
  color: $brand-danger;
  font-size: 20px;
  margin-left: 10px;
}

.search-form {
  margin-top: 90px;
}

.btn-search {
  background: url(../../../assets/img/search.png) no-repeat $brand-danger;
  background-size: 33px 38px;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  color: #FFF;
}

.how-to-use {
  h1, h2 {
    font-weight: 700;
  }
  p {
    font-size: 18px;
  }
  font-weight: 700;
}

.full-width {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.full-width-title {
  background: $brand-primary;
  color: #fff;
  text-transform: uppercase;
}

.cars {
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 0px;
  margin-bottom: 0;
}

.auction {
  background: $brand-danger;
}

.retail {
  background: $brand-primary;
}

.details {
  shape-outside: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
  background: $brand-primary;
  color: #FFF;
  text-transform: uppercase;
  font-size: 11px;
  padding: 4px 0;
  position: relative;
  margin-bottom: 20px;
}

.details:before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 17px solid $brand-danger;
  border-right: 17px solid transparent;
  position: absolute;
  left: 0px;
  top: 0px;
}

.btn-view-more {
  background: #FFFFFF;
  width: 100%;
  border: 1px dashed $brand-primary;
  padding: 10px;
  font-weight: 700;
  font-size: 17px;
}

.full-width-content {
  background: $brand-grey;
  margin-top: -40px;
}

.form-search {
  width: 80%;
  float: left;
  margin-right: 20px;
}

.date {
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  padding: 3px 0px;
  margin-bottom: 0;
}

.model {
  text-transform: uppercase;
  color: #444351;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 0px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb80 {
  margin-bottom: 80px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.select {
  width: 100%;
  //padding: 8px 10px;
  color: grey;
  border-color: grey;
  background: #fff url('../../../assets/img/arrow.png') no-repeat 90% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  //@media screen {
  //  padding: 5px 160px 5px 8px;
  //}
}
select::-ms-expand {
  display: none;
}

input[type=radio] {
  display: none;

}

input[type=radio] + label {
  padding: 5px 20px;
}

input[type=radio] + label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 12px;
  background-color: #fff;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -khtml-border-radius: 9px;
  border: 2px solid grey;
}

input[type=radio]:checked + label:before {
  content: "\2022";
  color: $brand-danger;
  background-color: inherit;
  font-size: 2em;
  text-align: center;
  line-height: 14px;
}

.textarea {
  margin-top: 24px;
  width: 100%;
  height: 90px;
}

input[type="radio"]:checked + label {
  background-color: $brand-primary;
  width: 100%;
  -moz-border-radius: $border-radius-base;
  -webkit-border-radius: $border-radius-base;
  border-radius: $border-radius-base;
  -khtml-border-radius: $border-radius-base;
  color: #FFFFFF;
}

.parallelogram {
  background: $brand-primary;
  color: #FFFFFF;
  padding: 2px 5px;
  border: none;
  position: relative;
}

.parallelogram:after {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 23px solid $brand-primary;
  border-right: 11px solid transparent;
  position: absolute;
  right: -11px;
  top: 0px;
}

.parallelogram:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 23px solid $brand-primary;
  border-left: 11px solid transparent;
  position: absolute;
  left: -11px;
  top: 0;
}

.bg-car {
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    @media (max-width: $grid-float-breakpoint-max) {
      text-align: center;
    }
  }
}

.container-car {
  margin-top: -20px;
}

@media (min-width: $grid-float-breakpoint) {
  .ready-to-save-money {
    float: left;
    -webkit-shape-outside: polygon(0 0, 100% 0, 42% 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 0, 42% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 42% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 42% 100%, 0 100%);
    shape-margin: 20px;
    width: 37%;
    margin-right: 20px;
  }
}

@media (max-width: $grid-float-breakpoint-max) {
  .ready-to-save-money {
    width: 100%;
  }
  .btn {
    font-size: 11px;
  }
}

.save-money-h3 {
  font-size: 24px;
  background: $brand-primary;
  color: #FFF;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 20px;
}

.btn-irregular-shape {
  border-top-left-radius: 0;
  margin-bottom: 20px;
  border-bottom-left-radius: 0;
  position: relative;
  border-left: none;
}

.btn-irregular-shape:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 38px solid $brand-danger;
  border-left: 18px solid transparent;
  position: absolute;
  left: -18px;
  top: 0;
}

.btn-irregular-shape:hover:before {
  color: #fff;
  content: "";
  width: 0;
  height: 0;
  border-bottom: 38px solid #d00f27;
  border-left: 18px solid transparent;
  position: absolute;
  left: -18px;
  top: 0;
}

.btn-irregular-shape:after {
  content: '>';
  color: #FFFFFF;
  font-size: 18px;
  margin-left: 10px;
}

.steps {
  h1 {
    color: $brand-danger;
    font-weight: 700;
  }
  p {
    font-size: 18px;
    text-transform: uppercase;
    color: $brand-primary;
    font-weight: 600;
  }
}

.btn-parallelogram {
  background: $brand-danger;
  color: #FFFFFF;
  border: none;
  position: relative;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -khtml-border-radius: 0;
  padding: 10px;
  margin-right: 20px;
  margin-top: -20px;

  @media (max-width: $grid-float-breakpoint-max) {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 12px;
  }
}

.btn-parallelogram:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 39px solid $brand-danger;
  border-left: 18px solid transparent;
  position: absolute;
  left: -18px;
  top: 0;
}

.btn-parallelogram:hover:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 39px solid #d00f27;
  border-left: 18px solid transparent;
  position: absolute;
  left: -18px;
  top: 0;
}

.btn-parallelogram:after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 39px solid $brand-danger;
  border-right: 18px solid transparent;
  position: absolute;
  right: -18px;
  top: 0px;
}

.btn-parallelogram:hover:after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 39px solid #d00f27;
  border-right: 18px solid transparent;
  position: absolute;
  right: -18px;
  top: 0px;
}

.bg-footer {
  background-size: 115%;
  min-height: 260px;
  background-image: url("../../../assets/img/footer.png");
  margin-bottom: 0;
}

.text-white {
  color: #ffffff;
}

.footer-info {
  border: 1px solid $brand-danger;
  padding-top: 15px;
}

.footer-img {
  margin-right: 20px;
  float: left;
}

.btn {
  word-wrap: break-word !important;
  white-space: normal !important;
}