@media (min-width: $grid-float-breakpoint) {
  .navbar-default {

    .navbar-nav {
      > li > a:before {
        content: ' / ';
        color: $brand-danger;
        display: inline-block;
        margin-left: -12px;
        margin-right: 9px;
      }
      > li:first-child > a:before, li:nth-child(2) > a:before {
        content: '';
      }
      > li > a {
        padding: 20px 10px;
        font-weight: 700;
        letter-spacing: -1.5px;
        text-transform: uppercase;
        font-size: 11px;

      }

      > li:first-child > a {
        padding: 17px 10px;
      }

    }

    .navbar-header {
      margin-right: 30px;
      margin-left: -32px;
      width: 288px;
      height: 60px;
      -ms-transform: skewX(150deg); /* IE 9 */
      -webkit-transform: skewX(150deg); /* Safari */
      transform: skewX(150deg);
      background: $brand-primary;
    }
  }

  .intro-header {
    margin-top: -9px;
    background: center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
    border-bottom: 3px solid $brand-danger;

    .site-heading {
      padding: 245px 0 50px;
      .top-info {
        color: #fff;
        margin-left: 20px;
      }
    }
  }
}

.navbar-brand {

  @media (min-width: $grid-float-breakpoint) {
    -ms-transform: skewX(210deg);
    -webkit-transform: skewX(210deg);
    transform: skewX(210deg);

    .navbar > .container &,
    .navbar > .container-fluid & {
      text-transform: uppercase;
      font-size: 28px;
      padding: 22px 67px;
    }
  }
}

footer {
  padding: 50px 0 65px;
}

.fa {
  color: $brand-danger;
}



h4.arrow-start:before {
  content: '>';
  color: $brand-danger;
  font-size: 20px;
  margin-right: 10px;
}

.btn-new {
  border: none;
  background: $brand-primary;
  padding: 7px 20px;
  margin: 20px 0;
  border-left: 7px solid $brand-danger;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 18px;
}

.btn-new:after {
  content: '>';
  color: $brand-danger;
  font-size: 20px;
  margin-left: 10px;
}

.search-form {
  margin-top: 90px;
}

.btn {

}

.btn-search {
  background: url('../../../assets/img/search.png') no-repeat $brand-danger;
  background-size: 35px 35px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
}

.how-to-use {
  h1, h2 {
    font-weight: 700;
  }
  p{
    font-size: 18px;
  }
  font-weight: 700;
}

.full-width {
  width:100%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 0 4px 0 ;

}
.full-width-title{
  background: $brand-primary;
  color: #fff;
  text-transform: uppercase;
}
.cars{
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 0px;
  margin-bottom: 0;
}

.auction {
  background: $brand-danger;
}
.retail{
  background: $brand-primary;
}
.details{
  shape-outside: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
  background: $brand-primary;
  color: #FFF;
  text-transform: uppercase;
  font-size: 11px;
  padding: 4px 0;
  position:relative;
  margin-bottom: 20px;
}


.details:before{
  content: "";
  width: 0px;
  height: 0px;
  border-top: 17px solid $brand-danger;
  border-right: 17px solid transparent;
  position: absolute;
  left: 0px;
  top: 0px;
}
.btn-view-more{
  width: 100%;
  border: 1px dashed $brand-primary;
  padding: 10px;
  font-weight: 700;
  font-size: 17px;
}

.full-width-content{
  background: $brand-grey;
  margin-top: -40px;
}
.form-search{
  width: 80%;
  float: left;
  margin-right: 20px;
}
.date{
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  padding: 3px 0px;
  margin-bottom: 0;
}
.model{
  text-transform: uppercase;
  color: #444351;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 0px;
}

.mt20{
  margin-top: 20px;
}
.mt30{
  margin-top: 30px;
}
.mb20{
  margin-bottom: 20px;
}
.mb30{
  margin-bottom: 30px;
}


